USE [master]
GO
/****** Object:  Database [LibraryDatabase]    Script Date: 2018-09-17 13:35:36 ******/
CREATE DATABASE [LibraryDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LibraryDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LibraryDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDatabase]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2018-09-17 13:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [varchar](50) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Date] [varchar](20) NOT NULL,
	[Available] [varchar](3) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kontaktuppgifter]    Script Date: 2018-09-17 13:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kontaktuppgifter](
	[Name] [varchar](50) NOT NULL,
	[BookID] [varchar](50) NOT NULL,
	[UserID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Final]    Script Date: 2018-09-17 13:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Final] 
AS

SELECT Books.Title, Books.Date, Kontaktuppgifter.Name

FROM Books

INNER JOIN Kontaktuppgifter ON Books.BookID = Kontaktuppgifter.BookID;
GO
ALTER TABLE [dbo].[Kontaktuppgifter]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
/****** Object:  StoredProcedure [dbo].[SearchForBook]    Script Date: 2018-09-17 13:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchForBook]

@BookID varchar(50),
@Title varchar(50)

AS

	SELECT * FROM Books 

	WHERE BookID = @BookID AND Title = @Title

GO
USE [master]
GO
